* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.super {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.containerTop, .contenedorTop {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 25px;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
}

#feedbackMessage, #Evento {
    color: #7f8c8d;
    font-size: 15px;
}


@media (max-width: 600px) {
    .super {
        flex-direction: column;
    }
}
